.logo {
    width:150px;
    margin-right: auto;
    margin-left: -8%;
}

/*Filter nav*/
.container select,
.container input[type="text"] {
  font-size: 14px;
  height: 30px;
  padding: 4px 8px;
}


@media (max-width: 991.98px) {
  .container select,
  .container input[type="text"],
  .container .input-group-text {
    font-size: 12px;
    height: 28px;
    padding: 3px 6px;
  }
}
.card {
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    cursor: pointer;
    height: 98%;
    width:110%;
    padding-bottom: 0%;
    max-height: min-content;
}

.card:hover {
    transform: scale(1.03);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

    
.card-img-top {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    min-height: 60%;
    object-fit: cover;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.card-text {
    font-size: 1rem;
    line-height: 1.5;
}

.card .badge {
    font-size: 1rem;
}

/* Add some space around each card */
.mb-4 {
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

.pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem; 
}
.heading-section {
    font-size: 32px; 
}
.heading-section small {
    font-size: 16px; 
}  
.block-27 ul {
    padding: 0;
    margin: 0; 
}

.block-27 ul li {
    display: inline-block;
    margin-bottom: 4px;
    font-weight: 400; 
}

.block-27 ul li a, .block-27 ul li span {
    color: gray;
    text-align: center;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    border: 1px solid #e6e6e6; 
}
.block-27 ul li.active a, .block-27 ul li.active span {
    background:  #ED6C15;
    color: #fff;
    border: 1px solid transparent; 
}


.e-button{
    align-items: center;
    background-color: #f8d5be;
    border: 1px solid #f8d5b0;
    border-radius: 11px;
    box-sizing: border-box;
    color: #ED6C15;
    cursor: pointer;
    display: flex;
    font-weight: 500;
    line-height: 33px;
    padding: 2px 10px;
    text-align: left;
    touch-action: manipulation;
    white-space: nowrap;
    word-break: break-word;
    -webkit-transition: max-width 0.3s ease-in-out;
    -moz-transition: max-width 0.3s ease-in-out;
    -o-transition: max-width 0.3s ease-in-out;
    transition: max-width 0.3s linear;
    position: relative;
    float: left;
    overflow: hidden;
    max-width: 30px;
    margin-right: 10px;
}

.e-button-text{
    display:block;
    white-space:nowrap;
    color:#fff; 
}

.e-button span{
    color:#ED6C15;
}

.e-button-text i {
    display: inline;
    margin-right: 10px;
 }

.e-button:hover{
    max-width: 280px;
    background-color: #f8d5be;
    border-color: #efaf84;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
}

/* filter */
.btn-primary,
.btn-outline-primary {
  background-color: #ED6C15 !important;
  border-color: #ED6C15!important;
  color: #fff; 
}
.d-flex button.btn-primary,
.d-flex button.btn-outline-primary {
  background-color: #ED6C15!important;
  border-color: #ED6C15!important;
  color: #fff; 
}
.d-flex button.btn-primary:hover,
.d-flex button.btn-outline-primary:hover {
    background-color: #ef8e4e!important; 
    border-color: #ef8e4e!important; 
    box-shadow: 0 0 0 0.25rem rgba(255, 165, 0, 0.25) !important;
    color: #fff; 
}
  
    /* Change border color */
    .form-control:focus {
    border-color: #ED6C15;
    box-shadow: 0 0 0 0.25rem rgba(255, 165, 0, 0.25);
    }

    /* Change range slider color */
    .form-range::-webkit-slider-thumb {
    background-color: #ED6C15;
    }

    .form-range::-moz-range-thumb {
    background-color: #ED6C15;
    }

  

 
 