.card {
    height: 98%;
    padding-bottom: 0%;
    max-height: min-content;
}

.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
    
    
.card-img-top {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    min-height: 60%;
    object-fit: cover;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.card-text {
    font-size: 1rem;
    line-height: 1.5;
}

.card .badge {
    font-size: 1rem;
}

/* Add some space around each card */
.mb-4 {
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

