
.nab-bar-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro);
  width: 1440px;
  height: 157px;
}
.auto {
  color: var(--color-chocolate);
}
.signing-up,
.soukauto {
  position: absolute;
  top: 36px;
  left: 183px;
  font-weight: 600;
}
.signing-up {
  top: 58px;
  left: 1091px;
  font-size: var(--font-size-32xl);
  font-weight: 500;
  color: var(--color-black);
}
.nab-bar,
.nab-bar-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
}
.nab-bar-item {
  border-bottom: 9px solid var(--color-darkslategray-100);
  box-sizing: border-box;
  height: 159px;
}
.nab-bar {
  height: 157px;
  font-size: var(--font-size-54xl);
  color: var(--color-steelblue);
  font-family: var(--font-outfit);
}
.please-create-your {
  position: absolute;
  top: 196px;
  left: 120px;
  font-size: var(--font-size-21xl);
  font-weight: 600;
  color: var(--color-chocolate);
}
.instance-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.e-mail {
  position: absolute;
  height: 46.67%;
  width: 92.62%;
  top: 26.67%;
  left: 3.6%;
  font-weight: 600;
  display: inline-block;
}
.rectangle-div,
.vector-container,
.vector-group,
.vector-parent,
.vector-parent1 {
  position: absolute;
  left: 120px;
  border-radius: var(--br-3xs);
  width: 583px;
  height: 75px;
}
.vector-parent {
  top: 301px;
  background-color: var(--color-darkslategray-100);
}
.rectangle-div,
.vector-container,
.vector-group,
.vector-parent1 {
  top: 427px;
}
.rectangle-div,
.vector-container,
.vector-parent1 {
  top: 553px;
}
.rectangle-div,
.vector-parent1 {
  top: 679px;
  left: 119px;
}
.vector-parent1 {
  top: 805px;
  left: 120px;
}
.by-clicking-create {
  margin: 0;
}
.by-clicking-create-container {
  position: absolute;
  top: 931px;
  left: 183px;
  font-weight: 600;
  display: inline-block;
  width: 531px;
  height: 150px;
}
.group-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-6xl);
  background-color: var(--color-darkorange);
}
.create-account {
  position: absolute;
  top: 30.93%;
  left: 15.02%;
  font-weight: 600;
}
.group-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.signup-inner {
  position: absolute;
  top: 1045px;
  left: 449px;
  width: 253px;
  height: 97px;
  color: var(--color-white);
}
.unsplashsoervmdvmh8-icon {
  position: absolute;
  top: 153px;
  left: 754px;
  width: 685px;
  height: 1285px;
  object-fit: cover;
  mix-blend-mode: multiply;
}
.signup {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1438px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-open-sans);

}
