/* Style for post title */
body {
    font-family: "Nasalization", sans-serif;
  }
h1 {
    font-size: 28px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
  }
  
  /* Style for post description */
  p {
    font-size: 16px;
    color: #666;
    line-height: 1.5;
    margin-bottom: 10px;
  }
  
  /* Style for post price */
  .price {
    font-size: 18px;
    font-weight: bold;
    color: #F00;
    margin-bottom: 20px;
  }
  
  /* Style for post image */
  img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  